# Python
venv/
__pycache__/
*.pyc

# YOLO
dataset_yolo/
runs/
*.pt

# AWS keys
*.pem
.aws_instance_id

# Data
data/

# Output
traced_output.mp4
*.mp4
videos/

# Debug images
tee_f*.png
snapshot.png
new_img_data

roboflow_data